body {
  background-color: black;
  text-align: center;
}

.title,
.score,
.quit {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: white;
}

.quit {
  cursor: pointer;
}

.sectionCube {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: -1px;
  display: inline-block;
  height: 20vh; /* Используем относительные единицы */
  width: 20vh;
  border: 10px outset grey; /* Уменьшаем толщину границы */
  cursor: pointer;
}

.btn:hover,
.quit:hover {
  filter: brightness(0.8);
}

.game-over {
  background-color: red;
}

#green {
  background-color: #008000;
  border-top-left-radius: 100%;
}

#red {
  background-color: #ff0000;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: #ffff00;
  border-bottom-left-radius: 100%;
}

#blue {
  background-color: #0000ff;
  border-bottom-right-radius: 100%;
}

